{% extends 'base.html.twig' %}

{% block title %}Campud Booster - Intervenants{% endblock %}

{% block body %}

    <div class="intervenant-container transition">
        <section class="shadow">
            <h3 class="title-dashboard"><i class="fa-solid fa-chalkboard-user"></i> Intervenants </h3>
            <hr>


            {% if intervenants %}
                {% for intervenant in intervenants %}

                    <div class="intervenantsTable">

                        <div class="section left">
                            <p class="lessonName"> {{intervenant.name}} </p>
                        </div>

                        <div class="section center">
                            <p> {{intervenant.firstName}} {{ intervenant.lastName}} </p>
                        </div>


                        <!-- Page settings - A activer que si notre rôle est admin -->

                        {% if app.user.role.id == 14  %} <!-- Différent d'un rôle étudiant -->
                            <div class="section right">
                                <p class="edit"><i class="fa-solid fa-pen-to-square"></i></p>
                                <p class="delete"><i class="fa-solid fa-trash-can"></i></p>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}

            {% else %}
                <p class="no-information"> Aucune note n'est disponible pour le moment</p>
            {% endif %}

        </section>
    </div>

{% endblock %}
