/* Couleurs de Campus Booster */

@import "variables.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $grey;
    margin-left: 300px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue;
}


/**
    Animation en dessous des barres cliquables
**/

.animationClickableText{
    position: relative;
    text-decoration: initial;
    color: $blue;

    &:hover{
        cursor: pointer;
    }

    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 1.5px;
        left: 50%;
        bottom: -2px;
        background-color: $blue;
        transition: all ease-in-out .2s;
    }

    &:hover::after{
        width: 100%;
        left: 0;
    }
}
/*********************************/


@media (max-width: $laptop){

    body{
        margin-left: 0 !important;
    }
}





