@import "variables";

.listLesson-container{
    .listLesson-parent {
        text-align: center;
        font-family: $msNormal;

        a{
            text-decoration: none !important;
        }

        .listLesson-content {
            height: 250px;
            width: 31%;
            margin: 15px;
            display: inline-block;
            border-radius: 8px;
            overflow: hidden;

            .title {
                font-size: 1em;
                color: $blue;
                font-family: $msBold;
                padding: 10px;
            }

            .imgBackground {
                background-image: url("http://via.placeholder.com/1920x1080");
                background-size: cover;
                height: 150px;
                text-align: center;
                content: "";
                background-position: center center;
                background-repeat: no-repeat;
            }

            .credits-ects{
                color: $blue;
                font-size: 1em;
            }

            p{
                color: $blue;
            }
        }

        .listLesson-content:hover{
            transform: scale(1.05);
        }
    }
}

.student-container-admin{
        .notesContent,
        .intervenantContent{
            border-bottom: 0.5px solid $greyDark;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .iconStatus{
                font-size: 2em;
            }

            .success{
                color: $green !important;
            }

            .failed{
                color: $red !important;
            }


            .note-child{
                margin: 15px auto;
                color: $blue;
                font-family: $msNormal;
                //word-break: break-all; /* new */
            }

            .left {
                .campusName{
                    font-size: 0.75em;
                    display: inline-block;
                    padding: 10px;
                    margin: 0px 15px;
                    background: $blue;
                    color: $white;
                    border-radius: 4px;
                    font-family: $msBold;
                }
            }

            .center-note{
                display: flex;
                flex-direction: row;
                flex-grow: 2;
                align-items: center;



            .center{
                    text-align: left;
                    flex: 0 0 90%;
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
                .right{
                    text-align: center;
                    flex: 0 0 10%;
                    font-size: 1em;

                    .note{
                        font-size: 1.5em;
                        font-family: $msBold;
                    }

                }
            }
    }

    .right-section {
        section {

            .intervenantContainer{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 10px;

                .campusContainer{
                    background-color: $blue;
                    color: $white;
                    padding: 10px;
                    border-radius: 8px;
                    font-family: $msBold;
                    font-size: 0.75em;
                    margin-right: 5px;

                }

                .fullNameContainer{
                    flex-grow: 1;
                    font-size: 1.25em;
                    color: $blue;
                    font-family: $msNormal;
                }

            }

            .editCours,
            .submitNewInformation,
            .cancelInformation,
            .addHour{
                text-decoration: none;
                background: $yellow;
                color: $white;
                font-size: 1.25em;
                font-family: $msBold;
                text-align: center;
                width: 100%;
                margin-bottom: 10px;
                display: block;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 8px;

                &.submitNewInformation {
                    background-color: $green;
                    border: none;
                }

                &.cancelInformation {
                    background-color: $red;
                }

                &.addHour{
                    background-color: $blue;
                }

                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}

.submitNewInformation{
    background-color: $green;
    border: none;
    color: $white;
    font-size: 1.25em;
    font-family: $msBold;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor:pointer;
}

/************************
    Ajouter un cours
 ***********************/
.listNewIntervenant .newIntervenantContent,
#add_cours_form_intervenants div div,

.listNewSubject .newSubjectContent,
#edit_intervenant_form_subjects div div
{
    border-bottom: 0.5px solid #c9ccd3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.listNewIntervenant .newIntervenantContent div,
#add_cours_form_intervenants div div,

.listNewSubject .newSubjectContent div,
#edit_intervenant_form_subjects div div{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

#edit_intervenant_form_subjects div div{
    margin-left: 5px ;
}

#edit_intervenant_form_subjects div div p{
    margin-bottom: initial !important;
    margin-left: 5px !important;
}

.listNewIntervenant .newIntervenantContent div select,
#add_cours_form_intervenants div div div select,

.listNewSubject .newSubjectContent div select,
#edit_intervenant_form_subjects div div div select{
    background-color: $white;
    border-radius: 8px;
    flex-grow: 1;
    font-family: $msNormal;
    cursor: pointer;
}

#add_cours_form_intervenants div div div select,

#edit_intervenant_form_subjects div div div select{
    padding: 15px 10px;
}

.listNewIntervenant .newIntervenantContent p i,
#add_cours_form_intervenants div div p,

.listNewSubject .newSubjectContent p i,
#edit_intervenant_form_subjects div div p
{
    background-color: $red;
    color: $white;
    font-size: 1.25em;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}

.listNewSubject .newSubjectContent p{
    margin-bottom: 0px !important;
}

.listNewIntervenant .newIntervenantContent div div:nth-child(2)
#add_cours_form_intervenants div div div:nth-child(2)
{
    width: 25em !important;
}

.newIntervenantContent div div select::-ms-expand,
#add_cours_form_intervenants div div div select::-ms-expand,

.listNewSubject .newSubjectContent div div select::-ms-expand,
#edit_intervenant_form_subjects div div div select::-ms-expand{
    display: none;
}

.listNewIntervenant .newIntervenantContent div div,
#add_cours_form_intervenants div div div,

.listNewSubject .newSubjectContent div div,
#edit_intervenant_form_subjects div div div{
    position: relative;
    display: flex;
    height: 3em;
    width: 15em;
    line-height: 3;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 25px;
}
.listNewIntervenant .newIntervenantContent div div::after,
#add_cours_form_intervenants div div div::after,

.listNewSubject .newSubjectContent div div::after,
#edit_intervenant_form_subjects div div div::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: $darkBlue;
    color: $white;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.newIntervenantContent:hover::after,
.newSubjectContent:hover::after{
    color: #23b499;
}

.labelNewCours{
    color: $blue;
    font-family: $msBold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.selectNewCours{
    padding: 10px;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    background: #e6e7eb;
}

.addNewIntervenantContainer,
.addNewSubjectContainer{
    background: $blue;
    padding: 10px 20px;
    font-family: $msBold;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    width: 15em;
    color: $white;


    &:hover{
        background: $darkBlue;
        cursor: pointer;
    }

    #addNewIntervenant,
    #addNewSubject{
        color: $white;
        text-decoration: none;
    }

}


/***********
    Validation de suppression
***********/

.containerValidationMessage,
.modalAddHours{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    text-align: center;
    background: #00000080;

    &::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    .centered{
        background: $white;
        border-radius: 8px;
        opacity: 1;
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        text-align: center;
        padding: 50px;
        font-size: 24px;
        font-family: $msNormal;

        h3{
            color: $blue;
            font-weight: 600;
            margin-bottom: 25px;
        }

        p{
            color: $blue;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }

        button, a{
            border: initial;
            padding: 15px 25px;
            margin: 0 25px;
            border-radius: 40px;
            width: 40%;
            font-family: $msBold;
            font-size: 1em;
            cursor: pointer;

            &.deleteValidation{
                background-color: $red;
                color: $white;
                text-decoration: none;

                &:hover{
                    background-color: #1a3c4d;
                }

            }

            &.cancelValidation{
                background-color: $grey;
                color: $blue;

                &:hover{
                    background-color: #1a3c4d;
                    color: $white;
                }
            }
        }

    }
}

.modalAddHours{
    .centered{

        h3{
            margin-bottom: 50px !important;
        }

        .datesContainer{
            div{

                .date{
                    display: flex;
                    justify-content: left;
                    flex: 1 100%;
                    margin-bottom: 15px;



                    select{
                        color: $blue;
                        font-size: 1em;
                        padding: 5px 10px;
                        margin: 5px;
                        border: none;
                        border-bottom: solid 2px $blue;
                    }

                    #add_hour_form_dateBegin_time,
                    #add_hour_form_dateEnd_time{
                        margin-left: 20px;
                    }
                }

                .label{
                    display: flex;
                    justify-content: left;
                    margin-bottom: 5px;
                    color: $blue;
                    font-family: $msBold;
                }

            }
        }

        .addNewHours{
            background-color: $green;
            color: $white;

            &:hover{
                background-color: $blue !important;
            }
        }
    }
}

@media (max-width: $laptop){
    .containerValidationMessage,
    .modalAddHours{
        &::before{
            display: initial;
        }

        .centered{
            position: relative;
            top: 10%;

            button, a{
                margin: auto;
                width: -webkit-fill-available;
                display: inline-block;
                margin-bottom: 10px;
            }

        }
    }

    .modalAddHours{
        .centered{

            height: 500px;
            overflow: auto;

            .datesContainer{
                div{

                    .date{
                        flex-direction: column;
                        margin-bottom: 20px;

                        #add_hour_form_dateBegin_time,
                        #add_hour_form_dateEnd_time{
                            margin-left: 0;
                        }

                        select{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $smartphone){


    .student-container-admin{
        .notesContent,
        .intervenantContent{

            flex-direction: column;

            .center-note{
                flex-direction: column !important;

                .center{
                    flex: initial !important;
                }
                .right{
                    flex: initial !important;
                }
            }
        }
    }

    .addNewIntervenantContainer,
    .addNewSubjectContainer{
        width: initial !important;
    }

    .listNewIntervenant .newIntervenantContent div div:nth-child(2),
    #add_cours_form_intervenants div div div:nth-child(2),

    .listNewSubject .newSubjectContent div div:nth-child(2),
    #edit_intervenant_form_subjects div div div:nth-child(2){
        width: 100% !important;
    }

    .newIntervenantContent div,
    #add_cours_form_intervenants div,

    .newSubjectContent div,
    #edit_intervenant_form_subjects div{
        position: relative;
        width: 100%;
    }

    .listNewIntervenant .newIntervenantContent div div,
    #add_cours_form_intervenants div div div,

    .listNewSubject .newSubjectContent div div,
    #edit_intervenant_form_subjects div div div
    {
        width: 100% !important;
        margin-right: initial !important;
    }

    .listNewIntervenant .newIntervenantContent,
    #add_cours_form_intervenants div div,

    .listNewSubject .newSubjectContent,
    #edit_intervenant_form_subjects div div{
        position: relative;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .listNewIntervenant .newIntervenantContent p i,
    .listNewSubject .newSubjectContent p i,{
        margin-bottom: 10px;
    }

    .scolarInformationContainer .scolarInformation p{
        margin: initial !important;
    }


}