@import "variables";


.section-dashboard{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $msNormal;
    padding: 25px;
    color: $blue;

    .title-dashboard{
        color: $blue;
        font-size: 1.5em;
        font-family: $msBold;
    }

    .elementGlobal-container,
    .listLesson-container,
    .lessons-container,
    .notes-container{
        background: $white;
        padding: 15px;
        border-radius: 5px;
        margin: 25px;

        hr{
            margin-top: 5px;
            width: 50px;
            background-color: $blue;
            border: solid 2px $blue;
            margin-bottom: 15px;
        }

    }


    .left-section{
        flex: 3;
        .listLesson-container{

            /**
                Design des notifications
             **/
            .notifications-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 1em;
                padding: 15px 0;
                border-bottom: 0.5px solid #c9ccd3;

                .type{

                    color: $white;
                    padding: 10px 15px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    &.update{
                        background: $yellow;
                    }

                    &.delete{
                        background: $red;
                    }

                    &.add{
                        background: $green;
                }

                }

                .containerDescription{
                    display: flex;
                    width: 100%;
                    margin-left: 20px;
                    justify-content: space-between;
                    align-items: center;

                    .description{
                        margin: 0 20px;
                        text-align: left;
                        font-size: 1.5em;
                    }

                    .date{
                        color: #9dafc1;
                        font-size: 1em;
                    }


                }

            }

            .listLesson-parent{
                text-align: center;

                .listLesson-content{
                    height: 200px;
                    width: 225px;
                    margin: 15px;
                    display: inline-block;
                    border-radius: 8px;
                    overflow: hidden;

                    .title{
                        font-size: 1em;
                        color: $blue;
                        font-family: $msBold;
                        padding: 10px;
                    }

                    .imgBackground{
                        background-image: url("http://via.placeholder.com/1920x1080");
                        background-size: cover;
                        height: 125px;
                        text-align: center;
                        content:"";
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }

            }
        }

        .ects-container-container{
            height: 500px;
            position: relative;


            #etcsSuccess{
                display: flex;


                div{
                    width: 50% !important;
                }

                canvas{
                    left: 20% !important;
                    width: initial !important;
                }
            }

            .ects-content{

                .levelOfStudent{
                    position: absolute;
                    top: 35%;
                    left: 15%;
                    text-align: center;

                    .classTitle{
                        font-size: 1.5em;
                        width: 300px;
                        color: #01b2c6;
                        font-family: $msBold;
                    }

                    .NumberECTS{
                        font-size: 3em;
                        font-family: $msBold;
                        font-style: italic;
                        letter-spacing: 3px;
                        margin-top: 60px;
                    }

                }

                .legend{

                    text-align: right;

                    #ectsLegendSuccess,
                    #ectsLegendFailed{
                        font-size: 1em;
                        color: $blue;
                    }

                    .success{
                        color: $green;
                    }

                    .failed{
                        color: $red;
                    }
                }

            }
        }

        .elementGlobal-container{
            .elementGlobal-content{
                display: flex;
                align-content: center;
                justify-content: center;
                flex-direction: row;

                a{
                    text-decoration: none;
                }

                .element{
                    margin: 10px 30px;
                    flex: 1;
                    border: initial;
                    color: white;
                    padding: 40px 0;
                    font-size: 1.5em;
                    font-style: italic;
                    text-align: center;
                    font-family: $msNormal;
                    border-radius: 8px;


                    span{
                        margin-bottom: 10px;
                        font-family: $msBold;
                        font-size: 1.7em;
                    }
                }

                #globalECTS{ background-color: #9a00c0}
                #globalOpportunities{ background-color: #aa87e5}
                #globalFinance{ background-color: #01b2c6}
            }

        }

    }

    .right-section{
        flex: 1;


        .fixed{position: sticky;  width: 100%;}

        /**
            Prochain cours de l'élève
        **/
        .lessons-container{
            .lesson-content{
                display: flex;
                align-items: center;
                font-size: 1.25em;
                margin-bottom: 10px;
                padding: 5px 0;
                border-bottom: solid 1.5px $greyDark;

                p{flex-grow: 2;}
                .time{text-align: right;}

                span{
                    background-color: $blue;
                    padding: 5px 10px;
                    margin-right: 2px;
                    color: white;
                    border: $blue 1px solid
                }

            }
        }

        /**
            Dernières évaluations
        **/
        .notes-container{
            .note-content{
                display: flex;
                align-items: center;
                font-size: 1.25em;
                margin-bottom: 10px;
                padding: 5px 0;
                border-bottom: 1px solid $greyLight;

                i{margin-right: 10px;}
                .check{color: $green;}
                .failed{color:$red}

                p{flex-grow: 2;}
                .noteStudent{
                    text-align: right;
                    font-family: $msBold;

                }
            }
        }

        /**
            Liste des étudiants
        **/
        .y-mandatory {
            scroll-snap-type: y mandatory;
        }

        .y-scroll .element {
            margin-bottom: 10px;
        }

        .scrollContainer{
            height: 290px ;
            flex-flow: row nowrap;
            overflow-x: hidden;
            border-radius: 8px;

            /* width */
            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 8px;
            }

            .student-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                width: 95%;
                scroll-snap-type: y mandatory;
                .card {
                    flex: 1 1 25%;
                    margin: 10px;
                    border-radius: 8px;
                    background-color: white;
                    text-align: center;
                    text-decoration: none;
                    color: #053869;
                    font-family: $msBold;
                    display: flex;

                    flex-direction: column;
                    .logo-nav {
                        font-family: $msNormal !important;
                        text-align: center;
                        color: $blue;
                        margin-bottom: 10px;
                        scroll-margin: 10px;
                        scroll-snap-align: start;
                        scroll-snap-stop: normal;

                        .actualYear {
                            background-image: linear-gradient(to bottom, #04284a, #03305a, #02396b, #04417c, #094a8e);
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            color: $white;
                            padding: 10px;
                            font-family: $msBold;
                            margin-bottom: 10px;
                            &.one {
                                background: #E1E8ED;
                            }
                            &.two {
                                background: #AAB8C2;
                            }
                            &.three {
                                background: #657786;
                            }
                            &.four {
                                background: $blue;
                            }
                            &.five {
                                background: #14171A;
                            }
                        }


                        i.one {
                            color: #E1E8ED;
                        }
                        i.two {
                            color: #AAB8C2;
                        }
                        i.three {
                            color: #657786;
                        }
                        i.four {
                            color: $blue;
                        }
                        i.five {
                            color: #14171A;
                        }
                        i {
                            font-size: 3em;
                            margin-bottom: 15px;
                        }
                        #fullName {
                            font-size: 1.5em;
                            font-weight: 500;
                            letter-spacing: -1px;
                            text-transform: capitalize;
                            margin-bottom: 20px;
                        }
                        #role-student {
                            font-size: 0.8em;
                            font-style: italic;
                            font-weight: 5900;
                        }
                    }
                }
            }
        } /* Fin scrollContainer */
    }
}

@media (max-width: 1500px){

    .section-dashboard{
        flex-direction: column-reverse;
    }

    .right-section{
        .fixed{
           position: initial !important;
        }
    }

    .elementGlobal-container{
        .elementGlobal-content {
            flex-direction: column !important;
        }
    }



}


@media (max-width: $laptop){

    .elementGlobal-container{
        .elementGlobal-content{
            .element{
                margin: 10px 0 !important;
            }
        }
    }

    .section-dashboard{
        flex-direction: column;
        padding: 0 !important;
    }

    .left-section{

        margin-top: 85px;

        .fixed{
            position: initial !important;
        }
    }

    .listLesson-container{
        .listLesson-parent{
            .listLesson-content{
                width: 40% !important;
                margin: 15px auto !important;
            }
        }
    }

}

@media (max-width: $smartphone){


    .section-dashboard{
        .right-section{
            .scrollContainer{
                height: 218px ;

                .student-container{
                    .card {
                        .logo-nav {
                            #fullName {
                                font-size: 1em !important;
                                margin-bottom: 10px !important;
                            }
                        }
                    }
                }
            } /* Fin scrollContainer */
        }
    }

    /** Trois valeurs en haut de la page **/
    .elementGlobal-container{
        .elementGlobal-content{
            .element{
                margin: 5px 10px !important;
                padding: 10px 0 !important;
                font-size: 1em !important;


                span{
                    margin-bottom: 10px;
                    font-family: $msBold;
                    font-size: 1.7em;
                }
            }

            #globalECTS{ background-color: #9a00c0}
            #globalOpportunities{ background-color: #aa87e5}
            #globalFinance{ background-color: #01b2c6}
        }

    }


    .listLesson-container{

        /**
                Design des notifications
             **/
        .notifications-container{
            flex-direction: row;
            align-items: center;
            padding: 15px 0;

            span{
                display: none;

            }

            .type{
                color: $white;
                width: initial !important;

                i{
                    margin: initial !important;
                }
            }

            .containerDescription{

                margin-left: 5px !important;

                .description{
                    margin: 0 5px !important;
                    font-size: 1em !important;
                }

                .date{
                    font-size: 0.75em !important;
                }
            }

        }


        .listLesson-parent{
            .listLesson-content{
                width: 95% !important;
                margin: 15px auto;
            }
        }
    }
}
