@import "variables.scss";


/**
  Aucune information disponible
 */
.no-information{
  font-size: 1.2em;
  color: $blue;
  font-family: $msNormal;

}


/**
  Erreur pour les formulaires
 */
.error-border{
  border: $red solid 1.5px !important;
}
