@import "variables.scss";


/**
  Aucune information disponible
 */
.no-information{
  font-size: 1.2em;
  color: $blue;
  font-family: $msNormal;

}


/**
  Erreur pour les formulaires
 */
.error-border{
  border: $red solid 1.5px !important;
}

.text-error{
  color: $red;
  font-size: 1em;
  margin-bottom: 15px;
}
