@import "variables.scss";


/**
  Aucune information disponible
 */
.no-information{
  font-size: 1.2em;
  color: $blue;
  font-family: $msNormal;
  text-align: left;
}


/**
  Erreur pour les formulaires
 */
.error-border{
  border: $red solid 1.5px !important;
}

.text-error{
  color: $red !important  ;
  font-size: 1em;
  margin-bottom: 15px;
}

.errorBackground{
  background-color: $red !important;
  color: $white;
  margin-bottom: 15px;
  font-family: $msNormal;
}
