@import "variables";

.intervenant-container {
    .intervenantsTable{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        font-family: $msNormal;
        border-bottom: 0.5px solid #c9ccd3;
        padding-bottom: 15px;
        margin-top: 15px;


        .left{
            text-align: center;
            position: relative;
            flex-direction: row;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;


            .lessonName{
                background: $blue;
                padding: 10px;
                margin: 5px;
                color: white;
                font-size: 0.75em;
                text-align: center;
                border-radius: 4px;
                font-family: $msBold;
            }
        }

        .center{
            text-align: left;
            flex: 2;
            color:$blue;
            font-size: 1.5em;

            p{
                text-transform: capitalize;
            }

        }

        .right{
            text-align: right;
            flex: 0.5;
            display: flex;
            justify-content: right;
            font-size: 1em;
            color:$blue;
            align-items: center;

            a{
                margin: 0 15px;
                cursor:pointer;

                &.edit{
                    color: $white;
                    background: $yellow;
                    padding: 10px 25px;
                    border-radius: 4px;
                }

                &.delete{
                    color: $white;
                    background: $red;
                    padding: 10px 25px;
                    border-radius: 4px;
                }
            }
        }

        .rightStudent{
            flex: 1.5;
        }

    }
}

@media (max-width: 1350px){
    .intervenant-container {
        .intervenantsTable {
            flex-direction: column !important;
        }
    }
}


@media (max-width: $laptop){
    .intervenant-container {
        section {
            margin-top: 85px;
        }

        .intervenantsTable {
            .left {
                flex-basis: 100%;
                margin-bottom: 10px;
            }
        }

        .center{
            flex-basis: 100% !important;
            text-align: center !important;
            margin-bottom: 10px;
        }

        .right {
            text-align: center !important;
            margin: auto !important;
            margin-top: 10px;
            flex-basis: initial !important;
        }
    }
    #intervenantSubjectName{
        margin-left: 5px !important;
    }

}