@import "variables";


.notes-container{
    .notes-table{

        .notesContent{
            border-top: 0.5px solid $greyDark;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            .success{
                background: $green !important;
            }

            .failed{
                background: $red !important;
            }


            .note-child{
                margin: 15px auto;
                color: $blue;
                font-family: $msNormal;
                //word-break: break-all; /* new */
            }

            .leftEcts {
                flex: 1 0 5%;

                .credit-ects{
                    font-size: 0.75em;
                    display: inline-block;
                    padding: 10px;
                    background: $blue;
                    color: $white;
                    border-radius: 4px;
                    font-family: $msBold;
                }
            }

            .center-note{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex: 0 0 90%;

                .center{
                    text-align: left;
                    flex: 0 0 90%;
                    font-size: 1.5em;
                }
                .right{
                    text-align: center;
                    flex: 0 0 10%;
                    font-size: 1em;

                    .note{
                        font-size: 1.5em;
                        font-family: $msBold;
                    }

                }
            }


        }

    }

}

@media (max-width: $laptop){
    .notes-container {
        section {
            margin-top: 85px;
        }

        .notes-table {

            .leftEcts {
                flex: 1 0 10% !important;
            }

            .center-note {

                flex: 0 0 80% !important;
            }

        }
    }
}

@media (max-width: $smartphone){
    .notes-container {
        section {
            margin-top: 0;
        }

        .notes-table {

            .notesContent{
                .note-child{
                    margin: 5px auto 5px 0 ;
                }
            }

            .leftEcts {
                flex: 1 0 20% !important;
                margin-right: 10px;
            }

            .center-note {

                flex: 1 0 70% !important;
            }

            .center-note{
                flex-direction: column !important;
                margin-left: 15px;

            }

        }
    }
}