@import "variables";


/**
    FILTRE DES ETUDIANTS
*/
.container-two-rows{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .right-section {
        flex: 1;


        .fixed {
            position: sticky;
            TOP: 25px;

            section{
                margin: 25px;
                margin-left: 0px;

                .containerClass{
                    display: flex;
                    flex-wrap: wrap;

                    a{
                        flex-grow:1;
                        margin: 10px;
                        padding: 10px;
                        border-radius: 8px;
                        background-color: white;
                        text-align: center;
                        font-size: 1.25em;
                        text-decoration: none;
                        color: $blue;
                        font-family: $msBold;

                        &:hover,
                        &.selected{
                            background-color: $blue;
                            color: $white;
                        }
                    }
                }
            }

            .linkNewStudent{
                text-decoration: none;
                background: $green;
                color: $white;
                font-size: 1.25em;
                font-family: $msBold;
                text-align: center;
                width: 100%;
                display: block;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 8px;
            }
        }
    }

    .left-section{
        flex: 3;
        margin: 25px;

        .content{
            .card-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                a{

                }
                .card{
                    flex: 1 1 25%;
                    margin: 10px;
                    border-radius: 8px;
                    background-color: white;
                    text-align: center;
                    text-decoration: none;
                    color: #053869;
                    font-family: $msBold;
                    display: flex;
                    flex-direction: column;

                    .logo-nav {
                        font-family: $msNormal !important;
                        text-align: center;
                        color: $blue;
                        margin-bottom: 10px;

                        .actualYear{
                            background-image: linear-gradient(to bottom, #04284a, #03305a, #02396b, #04417c, #094a8e);
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            color: $white;
                            padding: 10px;
                            font-family: $msBold;
                            margin-bottom: 10px;

                            &.one{background: #E1E8ED;  }
                            &.two{background: #AAB8C2;}
                            &.three{background: #657786; }
                            &.four{background: $blue;  }
                            &.five{background: #14171A; }




                        }


                        i.one{color: #E1E8ED; }
                        i.two{color: #AAB8C2; }
                        i.three{color: #657786; }
                        i.four{color: $blue; }
                        i.five{color: #14171A; }

                        i {
                            font-size: 3em;
                            margin-bottom: 15px;
                        }

                        #fullName {
                            font-size: 1.5em;
                            font-weight: 500;
                            letter-spacing: -1px;
                            text-transform: capitalize;
                            margin-bottom: 20px;
                        }

                        #role-student {
                            font-size: 0.8em;
                            font-style: italic;
                            font-weight: 5900;
                        }
                    }
                }
            }
        }
    }
}

/******************************************************
******************************************************
                    FICHE ETUDIANTE
******************************************************
*****************************************************/
.left-section{



    .personnalInformation{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .typeStudent,
        .contactStudent{
            flex: 1 1 20%;
            margin: 10px;
            color: $blue;


            p{
                margin-bottom: 10px;

                span{
                    font-family: $msBold;

                    i{
                        color:$blue;
                        font-size: 1.5em;
                    }
                }
            }
        }

        .contactStudent{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;

            p{
                flex: 1 1 50%;
                align-items: center;
                font-size: 1.2em;
                word-break: break-word; /* new */
                display: flex;
                align-content: center;
                font-family: $msNormal;

                span{
                    i{
                        color:$blue;
                        font-size: 1.5em;
                        margin-right: 15px;
                    }
                }

            }
        }

        .typeStudent{
            text-decoration: none;
            font-family: $msNormal;
            font-size: 1.2em;
        }


    }


}

/**** Deuxième partie **/
.scolarInformationContainer{

    margin-top: 20px;
    word-break: break-word; /* new */

    .scolarInformation{
        color: $blue;
        font-size: 1.2em;
        font-family: $msNormal;

        h3{
            font-size: 1.5em;
            font-family: $msBold;
        }

        p{
            margin-left: 10px;
            margin-bottom: 10px;
            span{
                font-family: $msBold;
            }
        }

    }
}


.btnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    .editInformation,
    .submitNewInformation,
    .cancelInformation {
        flex: 1 1 25%;
        background-color: $yellow;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: white;
        border-radius: 8px;
        box-sizing: border-box;
        font-family: $msNormal;
        font-size: 1.25em;
        margin: 20px;

        &.submitNewInformation {
            background-color: $green;
            border: none;
        }

        &.cancelInformation {
            background-color: $red;
        }

        &:hover{
            cursor:pointer;
        }
    }
}

.left-section,
.scolarInformationContainer{
    input{
        border: none;
        color: $blue;
        font-family: $msBold;
        font-size: 1em;
        background: $greyLight;
        padding: 10px;
    }

    select{
        padding: 10px;
        font-size: 1em;
        font-family: $msNormal;
        background: $greyLight;
    }
}


// La taille maximal du design est de 1024px et la taille minimum est celle du téléphone : 700px
@media (max-width: $laptop){
    .container-two-rows{
        flex-direction: column-reverse;

        .right-section,
        section{
            margin: initial !important;
        }

        .right-section{
            margin-bottom: 25px !important;

            .actionStudent{
                margin-top: 25px !important;
            }
        }


        .editCoursSection{
            margin-top: 25px !important;
        }

        .addCoursSection{
            margin-top: 25px !important;
        }


    }
}

@media (max-width: $smartphone){

    .container-two-rows{
        .left-section{
            .content{
                .card-container{
                    flex-direction: column !important;
                }
            }
        }
    }

    .personnalInformation{

        .typeStudent,
        .contactStudent{
            flex: 1 1 100% !important;
            margin: 10px;
            color: $blue;

            p{
                margin-bottom: 10px;

                span{
                    font-family: $msBold;

                    i{
                        color:$blue;
                        font-size: 1.5em;
                    }
                }

            }
        }

        .contactStudent{
            p{
                flex: 1 1 100% !important;
            }
        }
    }

    .left-section,
    .scolarInformationContainer{
        input{
            width: 150px;
        }

        select{
            width: 150px;
        }
    }


}

