@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-light";
    src: url("/assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

/** Couleurs **/

$blue: #053869;
$darkBlue: #04284a;
$lightBlue: #bcd1e7;
$black: #020202;
$white: #ffffff;
$grey: #f3f4f8;
$greyLight: #e6e7eb;
$greyDark: #c9ccd3;
$red: #D2433F;
$green: #0ca94f;
$yellow: #e09914;

// A définir
$unknown: #eaedf4;

/** Polices d'écritures **/
$msNormal: "Montserrat", sans-serif;
$msLight: "Montserrat-light", sans-serif;
$msBold: "Montserrat-bold", sans-serif;

/** Taille d'écran **/

$computer: 1920px;
$laptop: 1024px;
$smartphone: 700px;

/** Taille du texte **/

/** Différents éléments qui sont toujours pareil **/
.transition{
    transition: all 0.5s ease-in-out;
}

.shadow{
    box-shadow: 0 3px 8px #0000003d;
}

.zoom{
    transform: scale(1);
    transition: all 0.5s ease-in-out;

    &:hover{
        transition: all 0.5s ease-in-out;
        transform: scale(1.05);
    }
}

.hidden{
    display: none;
}





