{% extends 'base.html.twig' %}

{% block title %}Madjid Booster - Cours{% endblock %}

{% block body %}

    <div class=" sectionContainer transition">

        {% block filAriana %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumbs ">
                    <li class="element ">
                        <a href="{{ path('app_dashboard') }}" class="transition">
                            <span class="animationClickableText">Tableau de bord</span>
                        </a>
                    </li>

                    <li class="current">Cours</li>
                </ol>
            </nav>
        {% endblock %}

        <section class="listLesson-container shadow transition">
            <h3 class="titleSection"><i class="fa-solid fa-book-open"></i> Cours </h3>
            <hr>

            <div class="listLesson-parent">

                {% if cours %}

                    {% for cours in cours %}

                        <a href="{{ path('app_cours_details', {id: cours.id}) }}">
                            <div class="listLesson-content shadow transition">
                                <div class="imgBackground"></div>
                                <p class="title"> {{ cours.name }} </p>
                                <p class="credits-ects">{{ cours.points }} ECTS</p>
                            </div>
                        </a>


                    {% endfor %}

                {% else  %}

                    <p class="no-information">Aucun cours n'est disponible pour le moment.</p>

                {% endif %}

            </div>


        </section>
    </div>

{% endblock %}
